@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
